/* Color scheme
#00CACF - blue
#84FF99 - green
#DAFF05 - yellow
#FFF6DE - off white
#0A0A0A - black
*/

/* Header styles */
.masth1{
  font-family: 'Roboto Slab', serif;
	font-size: 40px;
	margin-left: 60px;
  margin-right: 60px;
}

body{
  background: #FFF6DE;
  line-height: 1.6;
  font-size:  0.75rem;
}
header{
  display: flex;
  flex-flow: row wrap;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  background: #00CACF;
  border: 0A0A0A;
  border-style: solid;
  top: 0;
  left: 0;
  right: 0;
}
header > * {
  flex: 1 100%;
}

.logo {
  text-align: center;
}
.masthead {
  text-align: center;
}
.flex-navbar 
{
  display: flex;
  list-style: none;
  padding: 1rem;
}

.flex-navbar-item 
{
  background: #84FF99;
  padding: 1rem;
  width: 100px;
  height: 60px;
  margin-top: 10px;
  border-radius: 25px;
  font-size: 2em;
  margin: 1rem;
  text-align: center;
  flex: 1 100%;
}

/* Footer styles */
footer{
  padding: 0;
  background-color:#00CACF;
  font-family: 'Open Sans', sans-serif;
  color:#4b4c4d;
  border: 0A0A0A;
  border-style: solid;
  bottom: 0;
  left: 0;
  right: 0;
}


.footer .social {
  text-align: center;
  margin-bottom: 60px;
}

.footer .social > a {
  display: inline-block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 70%;
  border: 1px solid black;
  margin: 0 20px;
  color: #DAFF05;
  opacity: 0.75;
  
}

.footer .social > a:hover {
  opacity: 1.0;
}

.footer .company{
  
  margin: 50px;
  text-align: center;
  font-size: 15px;
  color: #0A0A0A;
}
.footer .copyright {
  margin: 50px;
  text-align: center;
  font-size: 13px;
  color:#0A0A0A;
  
}
/* Home page styles */
.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
 
}
.container > * {
  flex: 1 100%;
}


figcaption{
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

.container .text{
  text-align: left;
}

/* Portfolio styles */
.portfolio h3{
  font-weight: 500;
  text-shadow: 1px 1px #DAFF05;
}
.portfolio {
  position: relative;
}

.cardContainer{
    width: 100%;
    height: 100%;
    display: grid;
    row-gap: 100px;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
}


.portfolio .cardContainer {
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 60px;
  column-gap: 60px;
}


.portfolio .cardContainer .card {
  text-align: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 8px;
}

.portfolio .cardContainer .card img 
{
  border-radius: 8px;
}
/* Breakpoint - Mobile view < 35 rem */

@media (max-width: 560px) 
{ 
  header{
    margin-top: 50px;
    align-items: center;
  }
  .flex-navbar 
  {
    flex-flow: wrap;
    justify-content: space-around;
  }
 figure{
  float: left;
  max-width: 100%;
  height: auto;
  
 }
 h1{
  text-align: center;
  text-shadow: 2px 2px 2px #CCCCCC;
  
}
.portfolio .cardContainer {
  grid-template-columns: auto;
}
}
/* Breakpoint - 35rem < Tablet View < 80rem */
@media (min-width: 561px) and (max-width: 1280px) { 
  body{
    font-size:  1rem;
  }
  header{
    margin-top: 50px;
    align-items: center;
  }
  .hero-image {
    background-image: url("/img/masthead.jpg");
    max-width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  .flex-navbar
  {
    flex: 1 auto;
    justify-content: space-around;
  }

  .masthead{
    order: 3;
  }

 figure{
  float: left;
  left: 40%;
  height: auto;

 }
 .text{
  right: 60%;
  
}
h1{
  text-align: center;
  text-shadow: 2px 2px 2px #CCCCCC;
}
.portfolio .cardContainer {
  grid-template-columns: auto auto;
}
}

/* Breakpoint - Desktop View > 80rem */
@media (min-width: 1281px){ 
  body{
    font-size: 1.25rem;
  }
  header{
    flex-flow: row wrap;
    align-items: baseline;
    
  }
  .flex-navbar
  {
    flex-wrap: nowrap;
  }

  .bigscr
  {
    flex: 1 auto;
  }
  .masthead{
    order: 2;

  }

  .hero-image {
    background-image: url("/img/masthead.jpg");
    max-width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  
.sub-container{
  margin: auto;
  height: auto;
  max-width: 1281px;
  
}

figure{
    float: left;
    max-width: 40%;
    padding-right: 2rem;
    padding-bottom: 1rem;
    
}

.text{
    right: 60%;
    
    
}
h1{
  margin-left: 200px;
  text-shadow: 2px 2px 2px #CCCCCC;
}

}
