 
<section class="portfolio">
    <h1>Portfolio</h1>
    <div class="cardContainer">
        <div class="card">
            <img src="./img/cognitive.png" alt="cognitive">
            <h3>Project: Cognitive AI </h3>
        </div>
        <div class="card">
            <img src="img/GamingAI.jpg" alt="gaming">
            <h3>Project: Gaming AI</h3>
        </div>
        <div class="card">
            <img src="../img/machineLearning.jpg" alt="mc learning">
            <h3>Project: Machine Learning</h3>
        </div>
        <div class="card">
            <img src="../img/neuralNetworks.jpg" alt="neural">
            <h3>Project: Neural Networks</h3>
        </div>
        <div class="card">
            <img src="../img/nlp.jpg" alt="nlp">
            <h3>Project: Natural Language Processing</h3>
        </div>
        <div class="card">
            <img src="../img/VirtualAssistant.jpg" alt="virtual asst">
            <h3>Project: Virtual Assistant</h3>
        </div>
    </div>
</section>
